body {
    background-color: #ADC6FF;
    font-family: Poppins, sans-serif;
}

.maincols {
    text-align:center;
}

.coltitle {
    font-style:italic;
}

.forecastName {
    font-weight:bold;
}        

#cloudlogo  {
    font-size:100px;
    color: #1A5FFF;
}

#navbar {
    background-color:#00FFFF;
}

#current {
    border-right: solid 1px black;
}

#forecastItem {
    background-color: #C1AEFF;
}

p {
    
}

